<form [formGroup]="editForm" class="centeredDiv formPadding">
    <span class="myHeading">Izmeni korisnika</span>

    <div class="imageAndUsername">
        <div>
            <img [src]=korisnikIzmena.urlProfilna width="100px" height="100px" alt="Nema slike">
        </div>
        <div>
            {{korisnikIzmena.korisnickoIme}}
        </div>
        
    </div>

    <mat-form-field appearance="outline" [style.width.px]=320>
        <mat-label>Ime</mat-label>
        <input matInput formControlName='ime' required >
        <mat-error *ngIf="editForm.controls['ime'].invalid">
            <div *ngIf="editForm.controls['ime'].errors['required']">
                Ime je obavezno polje
            </div>
            <div *ngIf="editForm.controls['ime'].errors['pattern']">
                Ime nije u dobrom formatu
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.px]=320>
        <mat-label>Prezime</mat-label>
        <input matInput formControlName='prezime' required >
        <mat-error *ngIf="editForm.controls['prezime'].invalid">
            <div *ngIf="editForm.controls['prezime'].errors['required']">
                Prezime je obavezno polje
            </div>
            <div *ngIf="editForm.controls['prezime'].errors['pattern']">
                Prezime nije u dobrom formatu
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.px]=320>
        <mat-label>Grad</mat-label>
        <input matInput formControlName='grad' required >
        <mat-error *ngIf="editForm.controls['grad'].invalid">
            <div *ngIf="editForm.controls['grad'].errors['required']">
                Grad je obavezno polje
            </div>
            <div *ngIf="editForm.controls['grad'].errors['pattern']">
                Grad nije u dobrom formatu
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.px]=320>
        <mat-label>Datum rodjenja</mat-label>
        <input matInput [matDatepicker]="picker" formControlName='datumRodjenja' required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="editForm.controls['datumRodjenja'].invalid">
            <div *ngIf="editForm.controls['datumRodjenja'].errors['required']">
                Datum rodjenja je obavezno polje
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.px]=320>
        <mat-label>Kontakt telefon</mat-label>
        <input matInput formControlName='telefon' required placeholder="+3816XXXXXXXX">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="editForm.controls['telefon'].invalid">
            <div *ngIf="editForm.controls['telefon'].errors['required']">
                Telefon je obavezno polje
            </div>
            <div *ngIf="editForm.controls['telefon'].errors['pattern']">
                Telefon treba uneti u formatu +3816XXXXXXXX
            </div>
        </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline"  [style.width.px]=320>
        <mat-label>Tip korisnika</mat-label>
        <mat-select formControlName='tip' required>
          <mat-option value="K">Kupac</mat-option>
          <mat-option value="S">Samostalni prodavac</mat-option>
          <mat-option value="A">Agent agencije</mat-option>
        </mat-select>
        <mat-error *ngIf="editForm.controls['tip'].invalid">
            Tip korisnika je obavezno polje
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline"  [style.width.px]=320 *ngIf='editForm.controls["tip"].value=="A"'>
        <mat-label>Agencija</mat-label>
        <mat-select formControlName='agencija' required>
          <mat-option *ngFor='let a of agencije' value="{{a.pib}}">{{a.ime}}</mat-option>
        </mat-select>
        <mat-error *ngIf="editForm.controls['agencija'].invalid">
            Agencija je obavezno polje
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.px]=320 *ngIf='editForm.controls["tip"].value=="A"'>
        <mat-label>Broj licence</mat-label>
        <input matInput formControlName='brojLicence' required >
        <mat-error *ngIf="editForm.controls['brojLicence'].invalid">
            <div *ngIf="editForm.controls['brojLicence'].errors['required']">
                Broj licence je obavezno polje
            </div>
            <div *ngIf="editForm.controls['brojLicence'].errors['pattern']">
                Broj licence nije u dobrom formatu
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.px]=320>
        <mat-label>Profilna slika</mat-label>
        <ngx-mat-file-input formControlName="profilna" (input)="fileChosen($event)" ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
   
    <button mat-raised-button (click)="izmeni()" class="buttonStyle margin20px">Izmeni</button>
</form>




