<form [formGroup]="searchForm" class="centeredDiv formPadding">
  <span class="myHeading">Unesite parametre napredne pretrage</span>
   
  <div class="flexRow">
    <mat-form-field appearance="outline" [style.width.px]=320 class="smallMarginsOnSides">
        <mat-label>Cena od</mat-label>
        <input matInput formControlName='cenaOd' >
        <span matSuffix>&euro;</span>
        <mat-error *ngIf="searchForm.controls['cenaOd'].invalid">
            Los format
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
        <mat-label>Cena do</mat-label>
        <input matInput formControlName='cenaDo' >
        <span matSuffix>&euro;</span>
        <mat-error *ngIf="searchForm.controls['cenaDo'].invalid">
            Los format
        </mat-error>
    </mat-form-field>
    
  </div>

  <div class="flexRow">
    <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
        <mat-label>Kvadratura od</mat-label>
        <input matInput formControlName='kvadraturaOd' >
        <span matSuffix>m2</span>
        <mat-error *ngIf="searchForm.controls['kvadraturaOd'].invalid">
            Los format
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
        <mat-label>Kvadratura do</mat-label>
        <input matInput formControlName='kvadraturaDo' >
        <span matSuffix>m2</span>
        <mat-error *ngIf="searchForm.controls['kvadraturaDo'].invalid">
            Los format
        </mat-error>
    </mat-form-field>
  </div>

  

 

    <div class="flexRow">
        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Broj soba od</mat-label>
            <mat-select formControlName='brojSobaOd'>
                <mat-option  value=1>1</mat-option>
                <mat-option  value=1.5>1.5</mat-option>
                <mat-option  value=2>2</mat-option>
                <mat-option  value=2.5>2.5</mat-option>
                <mat-option  value=3>3</mat-option>
                <mat-option  value=3.5>3.5</mat-option>
                <mat-option  value=4>4</mat-option>
                <mat-option  value=4.5>4.5</mat-option>
                <mat-option  value=5>5</mat-option>
                <mat-option  value=6>5+</mat-option>
            </mat-select>
            
        </mat-form-field>
        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Broj soba do</mat-label>
            <mat-select formControlName='brojSobaDo'>
                <mat-option  value=1>1</mat-option>
                <mat-option  value=1.5>1.5</mat-option>
                <mat-option  value=2>2</mat-option>
                <mat-option  value=2.5>2.5</mat-option>
                <mat-option  value=3>3</mat-option>
                <mat-option  value=3.5>3.5</mat-option>
                <mat-option  value=4>4</mat-option>
                <mat-option  value=4.5>4.5</mat-option>
                <mat-option  value=5>5</mat-option>
                <mat-option  value=6>5+</mat-option>
            </mat-select>
        
        </mat-form-field>
    </div>  

    <div class="flexRow">
        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Godina izgradnje od</mat-label>
            <input matInput formControlName='godinaIzgradnjeOd' >
            <mat-error *ngIf="searchForm.controls['godinaIzgradnjeOd'].invalid">
                Los format
            </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Godina izgradnje do</mat-label>
            <input matInput formControlName='godinaIzgradnjeDo' >
            <mat-error *ngIf="searchForm.controls['godinaIzgradnjeDo'].invalid">
                Los format
            </mat-error>
        </mat-form-field>
    </div>
    
    <div class="flexRow">
        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Sprat od</mat-label>
            <input matInput formControlName='spratOd' >
            <mat-error *ngIf="searchForm.controls['spratOd'].invalid">
                Los format
            </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Sprat do</mat-label>
            <input matInput formControlName='spratDo' >
            <mat-error *ngIf="searchForm.controls['spratDo'].invalid">
                Los format
            </mat-error>
        </mat-form-field>
    </div>
    
    <div class="flexRow">
        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Mesecne rezije od</mat-label>
            <input matInput formControlName='mesecneRezijeOd' >
            <span matSuffix>RSD</span>
            <mat-error *ngIf="searchForm.controls['mesecneRezijeOd'].invalid">
                Los format
            </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Mesecne rezije do</mat-label>
            <input matInput formControlName='mesecneRezijeDo' >
            <span matSuffix>RSD</span>
            <mat-error *ngIf="searchForm.controls['mesecneRezijeDo'].invalid">
                Los format
            </mat-error>
        </mat-form-field>
    </div>

    <div class="flexRow">
        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Oglasivac nekretnine</mat-label>
            <mat-select formControlName='oglasivac' multiple>
                <mat-option  value="agencija">Agencija</mat-option>
                <mat-option  value="vlasnik">Vlasnik</mat-option>
            </mat-select>
            
        </mat-form-field>

        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Stanje nekretnine</mat-label>
            <mat-select formControlName='stanjeNekretnine' multiple>
                <mat-option  value="Izvorno">Izvorno</mat-option>
                <mat-option  value="Renovirano">Renovirano</mat-option>
                <mat-option  value="LUX">LUX</mat-option>
            </mat-select>
            
        </mat-form-field>
        
    </div>
    <div class="flexRow">
        <mat-form-field appearance="outline" [style.width.px]=320  class="smallMarginsOnSides">
            <mat-label>Tip grejanja</mat-label>
            <mat-select formControlName='tipGrejanja' multiple>
                <mat-option  value="Centralno grejanje">Centralno grejanje</mat-option>
                <mat-option  value="Etazno grejanje">Etazno grejanje</mat-option>
                <mat-option  value="TA pec">TA pec</mat-option>
                <mat-option  value="Gas">Gas</mat-option>
                <mat-option  value="Podno">Podno grejanje</mat-option>
                <mat-option  value="Toplotne pumpe">Toplotne pumpe</mat-option>
            </mat-select>
            
        </mat-form-field>
    </div>
  

  <button mat-raised-button (click)="trazi()" class="buttonStyle margin20px">Trazi</button>
</form>


<div class="divWithTopAndBottomMargins centeredDiv" >
    <div *ngIf='nemaRezultata'>
        Nema rezultata za Vasu pretragu. 
    </div>
    <div *ngFor='let n of nekretnine' > 
      <mat-card class="example-card" >
          <mat-card-title-group>
            <mat-card-title>{{n.naziv}}</mat-card-title>
            <mat-card-subtitle>
              <span > {{n.grad}} - {{n.opstina}} - {{n.mikrolokacija}}</span>          
            </mat-card-subtitle>
            <img mat-card-lg-image [src]=n.naslovnaUrl alt="Nema slike" >
          </mat-card-title-group>
          <mat-card-content>
              Kvadratura: <b>{{n.kvadratura}} m2</b> &nbsp; &nbsp;
              Broj soba: <b>{{brojSoba(n.brojSoba)}}</b> <br>
              Spratnost: <b>{{n.ukupnaSpratnost}} </b> &nbsp; &nbsp;
              Cena: <b>{{n.cena}} &euro;</b> <br>
              Prosecna cena na mikrolokaciji: <b>{{n.prosecnaCena}} &euro;/m2</b> <br>
              Kratak opis: <b>{{n.opis.substring(0, 300)}}...</b>           
          </mat-card-content>
          <mat-card-actions >
              <button mat-button (click)='detaljnije(n)'>DETALJNIJE</button>
          </mat-card-actions>
      </mat-card>
      
    </div>
</div>

    
<mat-paginator #paginator *ngIf='nekretnine.length > 0' 
              (page)="handlePageEvent($event)"
              [length]="ukupanBrojNekretnina"
              [pageSize]="brojPoStranici"
              [pageIndex] = "trenutnaStranica"
              aria-label="Select page"
              >
</mat-paginator>
