<form [formGroup]="changePassForm" class="centeredDiv formPadding">
    <span class="myHeading">Promeni lozinku</span>
    
    <mat-form-field appearance="outline" [style.width.px]=320>
        <mat-label>Stara lozinka</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required formControlName='staraLozinka'>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Sakrij lozinku'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePassForm.controls['staraLozinka'].invalid">
            Stara lozinka je pogresna
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.px]=320>
        <mat-label>Nova lozinka</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" required formControlName='lozinka'>
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Sakrij lozinku'" [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePassForm.controls['lozinka'].invalid">
            <div *ngIf="changePassForm.controls['lozinka'].errors['required']">
                Lozinka je obavezno polje
            </div>
            <div *ngIf="changePassForm.controls['lozinka'].errors['pattern']">
                Lozinka mora sadrzati minimum 8 karaktera, 1 veliko slovo, 1 cifru, 1 specijalni karakter i pocinjati slovom
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.width.px]=320>
        <mat-label>Ponovljena nova lozinka</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" required formControlName='ponovljenaLozinka'>
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Sakrij lozinku'" [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePassForm.controls['ponovljenaLozinka'].invalid">
            <div *ngIf="changePassForm.controls['ponovljenaLozinka'].errors['required']">
                Obavezno polje
            </div>
            <div *ngIf="changePassForm.controls['ponovljenaLozinka'].errors['passwordMismatch']">
                Lozinke se ne poklapaju
            </div>
        </mat-error>
    </mat-form-field>
    
    <button mat-raised-button (click)="promeniLozinku()" class="buttonStyle margin20px">Promeni</button>

   
</form>










